/* Basic reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --c1: #F4EFC1;
    --c2: #0F3E6C;
    --c3: #A04020;
    --c4: #EBE3D2;
    --c5: #ACAEAC;
} 

/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--c1);
    color: #333;
}

header {
    background: var(--c2);
    color: var(--c1);
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: var(--c1);
    text-decoration: none;
}

main {
    padding: 2rem;
}

#comics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.comic {
    background: var(--c4);
    border: 1px solid var(--c5);
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    width: 80vw;
    text-align: center;
    transition: all 1s ease-in-out;
}

.comic:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

footer {
    background: var(--c2);
    color: var(--c1);
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#credits {
    max-width: 80vw;
    margin: 0 auto;
}

.credit {
    background: var(--c4);
    border-radius: 15px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    width: 60vw;
    height: auto;
}

.credit p {
    margin-bottom: 0.5rem;
}

.credit a {
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-in-out;
}
.credit a:hover {
    opacity: 0.5;
}